.video {
  position: fixed;

  .close {
    position: absolute;

    top: -30px;
    right: -30px;
    border: 1px solid $gray-100;
    color: $gray-100;
    border-radius: 2rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
  }
}
